  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">NBA News</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./index.handlebars">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./saved.handlebars">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">Get New Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="header">
    <h1>NBA Articles</h1>
    <p>Get in the loop</p>
  </div>
</div>

<div class="container-fluid article-container">
  {{#each articles}}
  <div class="card">
    
  </div>
  {{/each}}
</div>
